/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

h1, h2, h3 {
  line-height: 1.3;
  color: #222;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

p {
  margin-bottom: 1rem;
  color: #555;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: rgba(66, 55, 128, 1);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.header.header--faded {
  opacity: 0.3;
}

.header.header--faded:hover {
  opacity: 1;
}

.header-container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav a {
  color: #fff;
}

.header-logo--title {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0
}

.header-logo--title a,
.header-logo--title a:visited {
  color: #ffffff;
}

.main-container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 2rem;
  padding-top: 6rem;
}

.article-teaser {
  margin-bottom: 3rem;
}

.article-teaser--title {
  font-weight: bold;
  margin-top: 1rem;
  text-transform: uppercase;
}

.article-teaser--summary {
  color: #666;
}

.article-teaser--read-more {
  font-style: italic;
}

.article-title {
  font-size: 3rem;
  font-weight: bold;
}

.article-body {
  margin-bottom: 4rem;
  font-size: 1.1rem;
  max-width: 800px;
}

.article-body li {
  margin-bottom: 1.5rem;
}

.article-gallery--media {
  margin-bottom: 2rem;
}

.responsive-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 66.5625%;
  background-image: var(--img-mobile);
}

.responsive-image--half {
  padding-top: 40%;
}

@media (min-width: 480px) {
  .responsive-image {
    background-image: var(--img-tablet);
  }
}

@media (min-width: 640px) {
  .responsive-image {
    background-image: var(--img-desktop);
  }
}

@media (min-width: 1120px) {
  .article-gallery--media {
    max-height: 95vh;
  }

  .article-gallery--media .responsive-image {
    background-color: #000000;
    background-size: contain;
    padding-top: 95vh;
  }
  .responsive-image {
    background-image: var(--img-desktop-hd);
  }
}
