<article>
  <div class="article-header">
    <h1 class="article-title">{{ article.title }}</h1>
    {% include "partials/article-date.njk" %}
    {% include "partials/article-location.njk" %}
    {% include "partials/article-category.njk" %}
  </div>
  <div class="article-body">
    {% if article.content_in_separate_page %}
      {% include "content/" + locale + "_" + article.slug + ".html" %}
    {% else %}
      <ul>
      {%- for sentence in article.sentences -%}
        <li>{{ sentence | safe }}</li>
      {%- endfor -%}
      </ul>
    {% endif %}
  </div>
  <div class="article-gallery">
    {%- for media in article.media -%}
      {%- if media.type == "Photo" and media.featured == false -%}
        <div class="article-gallery--media">
          <div
            class="responsive-image"
            role="img"
            style="
              --img-mobile: url('https://lmjstatic.deliriumcoder.com{{ media.image_urls.mobile }}');
              --img-tablet: url('https://lmjstatic.deliriumcoder.com{{ media.image_urls.tablet }}');
              --img-desktop: url('https://lmjstatic.deliriumcoder.com{{ media.image_urls.desktop }}');
              --img-desktop-hd: url('https://lmjstatic.deliriumcoder.com{{ media.image_urls.desktop_hd }}');
            "
          ></div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</article>
