{%- set categories = es_categories if locale == "es" else en_categories -%}
{%- set articleCategories = article.categories | getCategories(categories) -%}
{% if articleCategories.length > 0 %}
  <div class="article-category">
    {%- for cat in articleCategories -%}
      <a href="/{{ locale }}/categories/{{ cat.slug }}/">{{ cat.name }}</a>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
  </div>
{% endif %}
