{%- for article in articles -%}
  <article class="article-teaser">
    <a href="/{{ locale }}/articles/{{ article.slug }}">
      <div
        class="responsive-image"
        role="img"
        aria-label="{{ article.title }}"
        style="
          --img-mobile: url('{% featured_image article, 'teaser_mobile' %}');
          --img-tablet: url('{% featured_image article, 'big_teaser_tablet' %}');
          --img-desktop: url('{% featured_image article, 'big_teaser_desktop' %}');
          --img-desktop-hd: url('{% featured_image article, 'big_teaser_desktop_hd' %}');
        "
      ></div>
    </a>
    <h2 class="article-teaser--title"><a href="/{{ locale }}/articles/{{ article.slug }}">{{ article.title }}</a></h2>
    {% include "partials/article-date.njk" %}
    {% include "partials/article-location.njk" %}
    {% include "partials/article-category.njk" %}
    <p>
      <span class="article-teaser--summary">{{ article.summary | safe }}</span>
      <a class="article-teaser--read-more" href="/{{ locale }}/articles/{{ article.slug }}">{{ readMoreText }}</a>
    </p>
  </article>
{%- endfor -%}

{% if pagination %}
  {%- set paginationPrevHref = pagination.href.previous -%}
  {%- set paginationNextHref = pagination.href.next -%}
  {%- set paginationCurrentPage = pagination.pageNumber + 1 -%}
  {%- set paginationTotalPages = pagination.pages | length -%}
  {% include "partials/pagination.njk" %}
{% endif %}
