---
layout: layouts/main.njk
pagination:
  data: es_category_pages
  size: 1
  alias: categoryPage
eleventyComputed:
  title: "{{ categoryPage.category.name }} – Lugares míticos de Jaén"
permalink: /es/categories/{{ categoryPage.category.slug }}{% if categoryPage.pagination.pageNumber > 0 %}/page/{{ categoryPage.pagination.pageNumber + 1 }}{% endif %}/

locale: "es"
paginationPrevText: "« Más recientes"
paginationNextText: "Más antiguos »"
---

{% set readMoreText = "Ver el reportaje completo »" %}
{% set category = categoryPage.category %}
{% set articles = categoryPage.articles %}
{% set pagination = categoryPage.pagination %}

<div class="category-header">
  <h1 class="category-title">{{ category.name }}</h1>
</div>

{% include "partials/index-of-articles.njk" %}
