---
layout: layouts/main.njk
pagination:
  data: all_pages.all_indices
  size: 1
  alias: indexPage
eleventyComputed:
  title: "{{ i18n[indexPage.locale].all_articles }} – {{ i18n[indexPage.locale].siteTitle }}"
  permalink: "{{ indexPage.locale }}/articles/{% if indexPage.pagination.pageNumber > 0 %}page/{{ indexPage.pagination.pageNumber + 1 }}/{% endif %}/"
  locale: "{{ indexPage.locale }}"
---

<div class="page-header">
  <h1 class="page-title">{{ i18n[indexPage.locale].all_articles }}</h1>
</div>

{% set articles = indexPage.articles %}
{% set pagination = indexPage.pagination %}
{% include "partials/article-grid.njk" %}
